.App {
    text-align: center;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.input, .submit {
    display: block;
}

.projector {
    background-image: url("./back.jpg");
    max-width: 1024px;
    max-height: 768px;
    height: 768px;
    width: 1024px;
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.new-item .new-item-holder {
    display: block;
    top: -134px;
    position: relative;
}

.new-item-holder,
.item-content {
    max-width: 128px;
    max-height: 128px;
}

.new-item-holder {
    display: none;
}

.projector-item {
    width: 100%;
}

.s48 .projector-item {
    max-width: 128px
}

.s48 .flex-item {
    min-width: 12.5%;
}

.s36 .projector-item {
    max-width: 60px
}

.s36 .flex-item {
    min-width: 8.3333%;
}

.flex-item {
    flex-grow: 1;
}

.triangle {
    max-width: 90px;
    max-height: 90px;
    position: absolute;
}

.credits {
    margin-top: -50px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    bottom: -30px;
    position: relative;
    text-shadow: 0 0 3px #000000, 0 0 3px #000000;
    padding-left: 4px;
}

.placeHolder {
    font-size: 18px;
    max-width: 128px;
    max-height: 128px;
    height: 128px;
    width: 128px;
}

.new-item img {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.sp {
    font-size: 9px;
    color: black;
}

.fullscreen {
    display: block;
    position: absolute;
    top: 0
}

@keyframes flickerAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animate-flicker {
    animation: flickerAnimation 3s infinite;
}
